@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-grid-area {
    grid-area: 1 / 1 / 6 / 2;
}

.main-content-grid-area {
    grid-area: 1 / 1 / 6 / 6;
    /* grid-area: 1 / 2 / 6 / 6; */
}

@media (min-width: 640px) {
    .main-content-grid-area {
        grid-area: 1 / 2 / 6 / 6;
    }
}